<h1>This works!</h1>

{% schema %}
  {
    "name": "Liquid Reference Test",
    "settings": [
      {
        "type": "liquid-ref",
        "id": "text",
        "label": "A reference for Liquid"
      }
    ],
    "templates": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "Liquid Reference Test",
        "category": "Test"
      }
    ]
  }
{% endschema %}
